div.container.navbar-wrapper(style='margin-top:105px;z-index:auto;')
	ul.breadcrumb
		li
			a(href='/') Home
			span.divider /
		li
			a(href='/products') Products
			span.divider /
		li.active=category.name
section.container.marketing
	section#category-head.row
		section#category-summary.span3
			h3=category.name
			img(src='/files/medium' + category.image)
			h5=category.tag
			p=category.description
		section#featured.span8
			section#popular-products.row
				h2 Sub Categories
				-each subcat in subcategories
					-link = '/products/' + subcat.category.replace(/ /g, '-').toLowerCase() + '/' + subcat.name.replace(/ /g, '-').toLowerCase()
						a(href=link)
							section.span2
								img.img-circle(src="/files/medium" + subcat.image)
								h3
									a(href=link)=subcat.name
								p=subcat.tag
