style .carousel .item {     height: 700px;   }   .carousel img {     min-width: 100%;     height: 700px;}
div#evoCarousel.carousel.slide
	div.carousel-inner
		-if (slides)
			-if (slides.image1)
				div.item.active
					img(src='/files/' + slides.image1, alt='')
					div.container
						div.carousel-caption
							-if (slides.image1_heading)
								h1=slides.image1_heading
							-if (slides.image1_details)
								p.lead=slides.image1_details
							-if (slides.image1_url_label && slides.image1_url_label != "")
								a.btn.btn-large.btn-primary(href=slides.image1_url||"")=slides.image1_url_label
			-if (slides.image2)
				div.item
					img(src='/files/' + slides.image2, alt='')
					div.container
						div.carousel-caption
							-if (slides.image2_heading)
								h1=slides.image2_heading
							-if (slides.image2_details)
								p.lead=slides.image2_details
							-if (slides.image2_url_label && slides.image2_url_label != "")
								a.btn.btn-large.btn-primary(href=slides.image2_url||"")=slides.image2_url_label
			-if (slides.image3)
				div.item
					img(src='/files/' + slides.image3, alt='')
					div.container
						div.carousel-caption
							-if (slides.image3_heading)
								h1=slides.image3_heading
							-if (slides.image3_details)
								p.lead=slides.image3_details
							-if (slides.image3_url_label && slides.image3_url_label != "")
								a.btn.btn-large.btn-primary(href=slides.image3_url||"")=slides.image3_url_label
			-if (slides.image4)
				div.item
					img(src='/files/' + slides.image4, alt='')
					div.container
						div.carousel-caption
							-if (slides.image4_heading)
								h1=slides.image4_heading
							-if (slides.image4_details)
								p.lead=slides.image4_details
							-if (slides.image4_url_label && slides.image4_url_label != "")
								a.btn.btn-large.btn-primary(href=slides.image4_url||"")=slides.image4_url_label
			-if (slides.image5)
				div.item
					img(src='/files/' + slides.image5, alt='')
					div.container
						div.carousel-caption
							-if (slides.image5_heading)
								h1=slides.image5_heading
							-if (slides.image5_details)
								p.lead=slides.image5_details
							-if (slides.image5_url_label && slides.image5_url_label != "")
								a.btn.btn-large.btn-primary(href=slides.image5_url||"")=slides.image5_url_label
	a.left.carousel-control(href='#evoCarousel', data-slide='prev') ‹
	a.right.carousel-control(href='#evoCarousel', data-slide='next') ›
div.container.marketing
	div.row
		div#newsletter.span4
			img(src='/images/newsletter.png')
			h3 Join The Evo Newsletter
			p Like Evo? Subscribe to the Evo Newsletter to stay up-to-date with our products
			input(type='text', placeholder='your email...')#signup
			div.pull-right.sharemenu
				span.share-on Find us on 
				a(href='https://www.facebook.com/evohome.mv')
					i.icon-facebook-sign.icon-3x
				a(href='https://twitter.com/evo_home')
					i.icon-twitter.icon-3x
		-if(featured)
			div#featured.span8
				div#subCarousel.carousel.slide
					div.carousel-inner
						-console.log(categories[featured.prod1.subcategory.id])
						-if(featured.prod1)
							div.item.active
								div.span4
									img(style='width:370px;',src='/files/' + featured.prod1.gallery[0])
								div.span3
									-if(featured.prod1.name && featured.prod1.name != "")
										h3=featured.prod1.name
									-if(featured.prod1.details && featured.prod1.details != "")
										p=featured.prod1.details
									a(href='/products/' + categories[featured.prod1.subcategory.id].name.replace(/ /g,'-').toLowerCase() + "/" + featured.prod1.subcategory.name.replace(/ /g,'-').toLowerCase() + "/" + featured.prod1.name.replace(/ /g,'-').toLowerCase()) View details »
						-if(featured.prod2)
							div.item
								div.span4
									img(style='width:370px;',src='/files/' + featured.prod2.gallery[0])
								div.span3
									-if(featured.prod2.name && featured.prod2.name != "")
										h3=featured.prod2.name
									-if(featured.prod2.details && featured.prod2.details != "")
										p=featured.prod2.details
									a(href='/products/' + categories[featured.prod2.subcategory.id].name.replace(/ /g,'-').toLowerCase() + "/" + featured.prod2.subcategory.name.replace(/ /g,'-').toLowerCase() + "/" + featured.prod2.name.replace(/ /g,'-').toLowerCase()) View details »
						-if(featured.prod3)
							div.item
								div.span4
									img(style='width:370px;',src='/files/' + featured.prod3.gallery[0])
								div.span3
									-if(featured.prod3.name && featured.prod3.name != "")
										h3=featured.prod3.name
									-if(featured.prod3.details && featured.prod3.details != "")
										p=featured.prod3.details
									a(href='/products/' + categories[featured.prod3.subcategory.id].name.replace(/ /g,'-').toLowerCase() + "/" + featured.prod3.subcategory.name.replace(/ /g,'-').toLowerCase() + "/" + featured.prod3.name.replace(/ /g,'-').toLowerCase()) View details »
						-if(featured.prod4)
							div.item
								div.span4
									img(style='width:370px;',src='/files/' + featured.prod4.gallery[0])
								div.span3
									-if(featured.prod4.name && featured.prod4.name != "")
										h3=featured.prod4.name
									-if(featured.prod4.details && featured.prod4.details != "")
										p=featured.prod4.details
									a(href='/products/' + categories[featured.prod4.subcategory.id].name.replace(/ /g,'-').toLowerCase() + "/" + featured.prod4.subcategory.name.replace(/ /g,'-').toLowerCase() + "/" + featured.prod4.name.replace(/ /g,'-').toLowerCase()) View details »
					a.left.carousel-control(href='#subCarousel', data-slide='prev') ‹
					a.right.carousel-control(href='#subCarousel', data-slide='next') ›
	hr.featurette-divider
	-if(popular)
		div#popular-products.row
			h2 Popular Products
			-if(popular.prod1)
				div.span3
					img.img-circle(style='width:270px;',src='/files/' + popular.prod1.gallery[0])
					-if(popular.prod1.name && popular.prod1.name != "")
						h3=popular.prod1.name
					-if(popular.prod1.price && popular.prod1.price != "")
						h5=popular.prod1.price
					-if(popular.prod1.details && popular.prod1.details != "")
						p=popular.prod1.details
					p
						a(href='/products/' + categories[popular.prod1.subcategory.id].name.replace(/ /g,'-').toLowerCase() + "/" + popular.prod1.subcategory.name.replace(/ /g,'-').toLowerCase() + "/" + popular.prod1.name.replace(/ /g,'-').toLowerCase()) View details »
			-if(popular.prod2)
				div.span3
					img.img-circle(style='width:270px;',src='/files/' + popular.prod2.gallery[0])
					-if(popular.prod2.name && popular.prod2.name != "")
						h3=popular.prod2.name
					-if(popular.prod2.price && popular.prod2.price != "")
						h5=popular.prod2.price
					-if(popular.prod2.details && popular.prod2.details != "")
						p=popular.prod2.details
					p
						a(href='/products/' + categories[popular.prod2.subcategory.id].name.replace(/ /g,'-').toLowerCase() + "/" + popular.prod2.subcategory.name.replace(/ /g,'-').toLowerCase() + "/" + popular.prod2.name.replace(/ /g,'-').toLowerCase()) View details »
			-if(popular.prod3)
				div.span3
					img.img-circle(style='width:270px;',src='/files/' + popular.prod3.gallery[0])
					-if(popular.prod3.name && popular.prod3.name != "")
						h3=popular.prod3.name
					-if(popular.prod3.price && popular.prod3.price != "")
						h5=popular.prod3.price
					-if(popular.prod3.details && popular.prod3.details != "")
						p=popular.prod3.details
					p
						a(href='/products/' + categories[popular.prod3.subcategory.id].name.replace(/ /g,'-').toLowerCase() + "/" + popular.prod3.subcategory.name.replace(/ /g,'-').toLowerCase() + "/" + popular.prod3.name.replace(/ /g,'-').toLowerCase()) View details »
			-if(popular.prod4)
				div.span3
					img.img-circle(style='width:270px;',src='/files/' + popular.prod4.gallery[0])
					-if(popular.prod4.name && popular.prod4.name != "")
						h3=popular.prod4.name
					-if(popular.prod4.price && popular.prod4.price != "")
						h5=popular.prod4.price
					-if(popular.prod4.details && popular.prod4.details != "")
						p=popular.prod4.details
					p
						a(href='/products/' + categories[popular.prod4.subcategory.id].name.replace(/ /g,'-').toLowerCase() + "/" + popular.prod4.subcategory.name.replace(/ /g,'-').toLowerCase() + "/" + popular.prod4.name.replace(/ /g,'-').toLowerCase()) View details »
