div.container.marketing
	div#category-head.row
		div#category-summary.span3
			h3=page.name
			img(src='/files/medium' + page.image)
			
		div#featured.span8
			div.para
				-if(page.para_1_title && page.para_1_title != "")
					h2=page.para_1_title
				-if(page.para_1_description && page.para_1_description != "")
					p!=page.para_1_description
			div.para
				-if(page.para_2_title && page.para_2_title != "")
					h2=page.para_2_title
				-if(page.para_2_description && page.para_2_description != "")
					p!=page.para_2_description
			div.para
				-if(page.para_3_title && page.para_3_title != "")
					h2=page.para_3_title
				-if(page.para_3_description && page.para_3_description != "")
					p!=page.para_3_description
			div.para
				-if(page.para_4_title && page.para_4_title != "")
					h2=page.para_4_title
				-if(page.para_4_description && page.para_4_description != "")
					p!=page.para_4_description
			div.para
				-if(page.para_5_title && page.para_5_title != "")
					h2=page.para_5_title
				-if(page.para_5_description && page.para_5_description != "")
					p!=page.para_5_description

